{% extends "./base.html" %}
{% load static %}
{% block title %}BookStore{% endblock %}
{% block content %}
<main>
  <div class="container">
    <section class="py-10 text-center container">
      <div class="row py-lg-10">
        <div class="col-lg-10 col-md-10 mx-auto">
          <h1 class="display-5 fw-bold lh-1 mb-10">Feel The Premium</h1>
          <p class="lead text-muted">Get Into Paradise !!! Why Are You Still Standing There</p>
          <p>
            <a href="#" class="btn btn-primary my-2">Sign Up</a>
            <a href="#" class="btn btn-secondary my-2">Log In</a>
          </p>
        </div>
      </div>
    </section>
    <div class="container">
      <div class="row">
        <div class="album py-5">
          <div class="pb-3">
            <h1 class="h3">Popular</h1>
          </div>
          <div class="row row-cols-2 row-cols-sm-2 row-cols-md-4 g-1">
            {% for product in products %}
            <div class="col">
              <div class="card border-10">
                <img  class="img-fluid"  alt="Responsive image" src="{{ product.image.url }}">
                <div class="card-body px-1">
                  <p class="card-text">
                    <a class="text-dark text-decoration-none"
                      href="{{ product.get_absolute_url }}">{{ product.title|slice:":50" }}...</a>
                  </p>
                  <div class="fw-bold">₹{{product.price}}</div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
</main>
{% endblock %}